go/**
pnpm/**
BraveSoftware/**
zsh/.zshrc/ohmyzsh/**
*zcompdump*
# Keep inkscape preferences (theme, icons, etc) and nothing else
inkscape/**
!inkscape/preferences.xml
# i don't really know what this is
dconf/**

# nvim
nvim/tags
nvim/tests.sh
.luarc.json
spell/

# spotatui
spotatui/streaming_cache/**
spotatui/.spotify_token_cache.json
client.yml
