* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font Mono', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#clock:hover,#battery:hover,#backlight:hover,#network:hover,#pulseaudio:hover {
    color: #1AB7D7;
}

#workspaces button {
    padding: 2px 4px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    color: #1AB7D7;
    font-weight: bold;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
    padding: 2px 4px;
    color: #ffffff;
}

#clock {
    margin-right: 2px;
}

#window,
#workspaces {
    margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
